# debug folder
Debug/
Release/
x64/
.vs/

# project files
*.sln
*.vcxproj*

# utils
main.cpp
utilities.cpp
utilities.hpp
xor_cc.hpp

# prerequisites
*.d

# compiled object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dylib
*.dll

# fortran module files
*.mod
*.smod

# compiled static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app